h2.slide-title {
    margin: 0;
    text-align: left;
}


.content-list li {
    margin-bottom: 20px;
}

.emph {
    color: #e87500;
}

figcaption {
    color: dimgrey;
    font-size: small;
}

.theorem {
    font-size: large;
}

.reveal .slide-number {
    position: absolute;
    display: block;
    left: 8px;
    right: unset;
    bottom: 8px;
    z-index: 31;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px; }

.histogram {
    fill: #0b2e13;
}
